<%= turbo_stream_from :products %>

<h1>Store with products</h1>
<table class="table">
  <thead>
    <tr>
      <th>Store</th>
      <th>Model</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <%= turbo_frame_tag :products do %>
      <% @stores.each do |store| %>
        <tr>
          <th><%= store.name %></th>
          <th></th>
          <th></th>
        </tr>
        <%= render store.products, partial: "products/product" %>
      <% end %>
    <% end %>
  </tbody>
</table>